/* Global variables */
:root {
	/* Colors */
	--main-color: #EF4142;
	--second-color: #F8E1B1;
	--text-base: 1.3em;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;
}
*{
	text-decoration: none;
	font-family: Lexend;
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

a
{
	font-size: var(--text-base);
}

/* button */
.button {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }

/* add_trajet */
#add_trajet {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15vh 15vh 15vh 15vh;
}

#add_trajet fieldset legend {
	font-size: 1.5rem;
}

#add_trajet fieldset form {
	font-size: 1.4rem;
	text-align: right;
}